@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bioscoop</h1>
    <p class="lead">
        Bioscoop assesment PROG5
    </p>
    <p>
        @using (Html.BeginForm("Create", "Reservering")) {
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
                <input class="btn btn-default" placeholder="Aantal personen . . ." type="text" id="ss" name="id" />
                <input class="btn btn-default" type="submit" value="Reserveren" />
            </div>
        }
    </p>
</div>