@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bioscoop</h1>
    <p class="lead">
        Bioscoop assesment PROG5
    </p>
    <p>
        @using (Html.BeginForm("Create", "Reservering")) {
            <div class="input-group input-group-lg">
                <input class="form-control" placeholder="Aantal personen . . ." type="text" id="ss" name="id" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Reserveren</button>
                </span>
            </div>
        }
    </p>
</div>